<section class="section summary-section">
    <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
    <div class="summary">
        <p>
            Degree in Information Technology, web developer since 2008, web lover and passionate on object-oriented software design with best practices.
            I like to attend PHP and Javascript conferences.
            Active member of the Roman PHP user group (PUG Roma) and JavaScript User Group (RomaJS).
            Specialties: PHP, Javascript, OOP, Symfony, Doctrine, Next.js, Fastify, TypeScript, Mysql, CI/CD, TDD and agile methodologies.
        </p>
    </div><!--//summary-->
</section><!--//section-->
