<div class="education-container container-block">
    <h2 class="container-block-title">Education</h2>
    <div class="item">
        <h4 class="degree">Degree in Information Technology</h4>
        <h5 class="meta">University of Rome "La Sapienza"</h5>
        <div class="time">2002 - 2008</div>
    </div><!--//item-->
    <div class="item">
        <h4 class="degree">Graduate in Mechanical Technician</h4>
        <h5 class="meta">State Industrial and Technical Institute "Leonardo Da Vinci"</h5>
        <div class="time">2007 - 2011</div>
    </div><!--//item-->
</div><!--//education-container-->
