<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Team Leader Software Development</h3>
                <div class="time">dec 2019 - Present</div>
            </div><!--//upper-row-->
            <div class="company">Immobiliare.it, Rome</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                <a href="http://www.immobiliare.it">Immobiliare.it</a> is the No. 1 in Italy as the search engine for the real estate, with over 1,2 million real estate ads and more than 40 million visits per month on websites and apps.
            </p>
            <p>
                I coordinate the activities of a team of super specialized collaborators with different technological skills.
                Together we make decisions and create software, tools and guidelines that other colleagues then use and apply on all the products of the group.
                We are mainly oriented towards automation, server side services and quality assurance.
            </p>
            <p>
                Technologies/Platforms: php, mysql, nginx, symfony, twig, javascript, node, docker, kubernetes, webpack, sass, solr, memcache, redis, gitlab, phpunit, behat, ansible, capistrano.
            </p>
            <p>
                Tech team site: <a href="https://labs.immobiliare.it">labs.immobiliare.it</a>
            </p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Lead Developer</h3>
                <div class="time">sep 2016 - dec 2019</div>
            </div><!--//upper-row-->
            <div class="company">LuxuryEstate.com, Rome</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                <a href="http://www.luxuryestate.com">LuxuryEstate.com</a> is a search engine for the luxury real estate with over 300.000 luxury homes in over 120 countries.
            </p>
            <p>
                As Lead Developer, I oversee the development of the product, with great attention on how to write maintainable code, high quality and performant. Experiment and find new solutions to boost the business and interact with other departments.
                I take care of the frontend integration and production releases, I also review the code that gets included into our codebase: thanks to Gitlab and the merge request mechanism, that help developers communicate with each other efficiently assuring personal and team growth.
            </p>
            <p>
                Technologies/Platforms: php7, mysql, nginx, symfony3, twig, javascript commonjs e amd, node, npm, bower, grunt, webpack, sass, jquery, bootstrap, solr, memcache, git, capistrano, bash.
            </p>
            <p>
                Tech team site: <a href="https://labs.immobiliare.it">labs.immobiliare.it</a>
            </p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Front-End Web Developer</h3>
                <div class="time">jan 2014 - aug 2016</div>
            </div><!--//upper-row-->
            <div class="company">Immobiliare.it, Rome</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                <a href="http://www.immobiliare.it">Immobiliare.it</a> is the number 1 in italy as the search engine for the real estate, with over 1.200.000 real estate ads in Italy and Europe.
            </p>
            <p>
                As web developer, I worked at the front-end team immobiliare.it on many features. I also took care the refactoring of backoffice for the real estate agencies (getrix.it).
            </p>
            <p>
                Technologies/Platforms: php5.*, javascript commonjs e amd, node, npm, bower, grunt, webpack, sass, jquery, bootstrap, html5, twig, symfony2, git, linting, karma, phantomjs, mochajs and jasmine.
            </p>
            <p>
                Tech team site: <a href="https://labs.immobiliare.it">labs.immobiliare.it</a>
            </p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">IT Division Manager</h3>
                <div class="time">jan 2012 - dec 2013</div>
            </div><!--//upper-row-->
            <div class="company">Mebius IT, Rome</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Software engineer, analyst, design of relational databases and developer on business management: PHP,
                MySql, ZendFramework1, Doctrine1, PhpUnit, XHTML, Javascript and CSS.
            </p>

        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Web Developer</h3>
                <div class="time">may 2008 - dec 2011</div>
            </div><!--//upper-row-->
            <div class="company">Mebius IT, Rome</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Web developer on business management with PHP, MySql, HTML, Javascript and CSS.
            </p>
        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->
