<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Front-End Web Developer</h3>
                <div class="time">2014 - Present</div>
            </div><!--//upper-row-->
            <div class="company">Immobiliare.it, Rome</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Web developer on front-end team at immobiliare.it: php, javascript commonjs e amd, node, npm, bower,
                grunt, webpack, sass, jquery, bootstrap, html5, twig, symfony, git, linting, karma, phantomjs, mochajs
                and jasmine.
            </p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">IT Division Manager</h3>
                <div class="time">2012 - 2013</div>
            </div><!--//upper-row-->
            <div class="company">Mebius IT, Rome</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Software engineer, analyst, design of relational databases and developer on business management: PHP,
                MySql, ZendFramework1, Doctrine1, PhpUnit, XHTML, Javascript and CSS.
            </p>

        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Web Developer</h3>
                <div class="time">2008 - 2011</div>
            </div><!--//upper-row-->
            <div class="company">Mebius IT, Rome</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Web developer on business management with PHP, MySql, HTML, Javascript and CSS.
            </p>
        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->
