<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-commenting"></i>Speeches</h2>

    <div class="item">
        <h5>Git Fighter, il compleanno di Gitbar <sup>jan '21</sup></h5>
        <span class="project-tagline"><a href="https://www.spreaker.com/user/brainrepo/ep55-git-fighter">Podcast</a></span>
    </div><!--//item-->

    <div class="item">
        <h5>Panel: AA.VV. - The old guard of PUG Roma <sup>may '20</sup></h5>
        <span class="project-tagline"><a href="https://youtu.be/hTenl6zOxXI">Video</a></span>
    </div><!--//item-->

    <div class="item">
        <h5>Top ten of PHP 7.4 <sup>jan '20</sup></h5>
        <span class="project-tagline"><a
            href="https://www.slideshare.net/AndreaGiannantonio/top-ten-of-php-74">Slide</a></span>
        -
        <span class="project-tagline"><a href="https://youtu.be/jhGh3Q13P_4?t=454">Video</a> <small>(07:35)</small></span>
    </div><!--//item-->

    <div class="item">
        <h5>WTF it works in dev environment - PugRoma <sup>jan '19</sup></h5>
        <span class="project-tagline"><a
            href="https://www.slideshare.net/AndreaGiannantonio/wtf-it-works-in-dev-environment-pugroma">Slide</a></span>
        -
        <span class="project-tagline"><a href="https://youtu.be/xyHOFFOuIO4?t=547">Video</a> <small>(09:07)</small></span>
    </div><!--//item-->

    <div class="item">
        <h5>WTF it works in dev environment - RomaJs <sup>jun '18</sup></h5>
        <span class="project-tagline"><a
            href="https://www.slideshare.net/AndreaGiannantonio/wtf-it-works-in-dev-environment">Slide</a></span>
        -
        <span class="project-tagline"><a href="https://www.facebook.com/romajs.org/videos/2023723681178715/">Video</a> <small>(1:07:32)</small></span>
    </div><!--//item-->

    <div class="item">
        <h5>Once upon a time, there were css, js and server-side rendering <sup>july '16</sup></h5>
        <span class="project-tagline"><a
            href="http://www.slideshare.net/AndreaGiannantonio/once-upon-a-time-there-were-css-js-and-serverside-rendering-64616491">Slide</a></span>
        -
        <span class="project-tagline"><a href="https://www.youtube.com/watch?v=Xr9TItuNxLg">Video</a></span>
    </div><!--//item-->

    <div class="item">
        <h5>Webpack: your final module bundler <sup>march '16</sup></h5>
        <span class="project-tagline"><a href="http://jellybellydev.github.io/webpack-presentation">Slide</a></span>
        -
        <span class="project-tagline"><a href="https://www.youtube.com/watch?v=mkcyvJNBPUk">Video</a></span>
    </div><!--//item-->

</section><!--//section-->
